<a href="https://colab.research.google.com/github/lumagri/Data_Science/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V # verificando a versão

Python 3.7.15

# 1.3 Trabalhando com dados

In [23]:
import pandas as pd
pd.set_option('display.max_rows', 10) # Mostra o documento até o número máximo de linhas selecionado.
pd.set_option('display.max_columns', 10) # Mostra o documento até o número máximo de colunas selecionado.

In [12]:
dataset = pd.read_csv('db.csv', sep = ";") # É necessário passar o tipo de separador (sep). Identificar no documento qual o separador utilizado que não a ",".

In [24]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [26]:
dataset.dtypes # verifica o tipo de dado em cada coluna. No Pandas a str é chamada de object.

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [27]:
dataset[['Quilometragem', 'Valor']].describe() # Para calcular valores estatisticas descritivas básicas.

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [28]:
dataset.info() #Informações dos dados.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [29]:
()

()

In [30]:
1, 2, 3

(1, 2, 3)

In [32]:
nome = 'Passat'
valor = 134588
(nome, valor)

('Passat', 134588)

In [33]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [34]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [35]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [36]:
nomes_carros[0]

'Jetta Variant'

In [37]:
nomes_carros[1]

'Passat'

In [38]:
nomes_carros[-1] # a regra de indices em tuplas é a mesma de um array

'DS5'

In [40]:
nomes_carros[1:3] # Lembrar que o primeiro item do índice aparece mas o ultimo não, por isso se eu quiser que apareça os dois do meio eu tenho de selecionar [1:3]

('Passat', 'Crossfox')

In [41]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [45]:
nomes_carros[-1] #Lembrar que mesmo que o ultimo item seja uma tupla, ele é um item dentro do array. Para selecioná-lo, basta selecionar a posição da tupla no array.

('Fusca', 'Gol', 'C4')

In [46]:
nomes_carros[-1][1]# Para selecionar um item da tupla, segue com a ordem do array e depois em um outro [] indicar a posição do item dentro da tupla.

'Gol'

Exercício Alura

In [48]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [49]:
carros

(('Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  False,
  ('Rodas de liga', 'Travas elétricas', 'Piloto automático')),
 ('Passat',
  'Motor Diesel',
  1991,
  True,
  ('Central multimídia', 'Teto panorâmico', 'Freios ABS')))

In [50]:
carros[0][3]

False

In [51]:
carros[-1][-1][-1]

'Freios ABS'

In [52]:
carros[0][-1][:2] # Fatiamento [:2] inicia na posição 0 e lista todos os itens até a posição anterior da selecionada[2]. Mostra de 0 a 1.

('Rodas de liga', 'Travas elétricas')

# 2.3 Iterando em tuplas

In [54]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [55]:
for item in nomes_carros: #Iteração 
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [56]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [57]:
carro_1

'Jetta Variant'

In [58]:
carro_2

'Passat'

In [59]:
carro_3

'Crossfox'

In [60]:
carro_4

'DS5'

In [62]:
_, A, _, B = nomes_carros # Para ignorar alguns itens da tupla,  utilizar o _ "underscore" no lugar das posições que não deseja nomear.

In [63]:
A

'Passat'

In [64]:
B

'DS5'

In [65]:
_, C, *_ = nomes_carros # Para não ter de ficar colocando underscore em todas as posições, pode-se usar apenas em algumas e depois usar o *_ para ignorar o restante da tupla.

In [66]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [67]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [68]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [72]:
list(zip(carros, valores)) # Com este list.zip ele pega o 1 elemento da lista carro e o primeiro da lista valores e cria uma tupla. Assim por diante até formar as tuplas com os 4 elementos das 2 listas.

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [73]:
for item in zip(carros,valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [76]:
for carro, valor in zip(carros,valores): # Este é um desempacotamento de tuplas. 
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [77]:
for carro, valor in zip(carros,valores):
  if(valor > 100000):
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [78]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [79]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [81]:
carros.index('Passat')

1

In [82]:
valores[carros.index('Passat')]

106161.94

In [84]:
dados = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [85]:
type(dados)

dict

### Criando dicionários com *zip()*

In [86]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [88]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

In [89]:
dados = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [90]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [91]:
'Passat'in dados

True

In [92]:
'Fusca'in dados

False

In [93]:
'Fusca'not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [94]:
len(dados) # Há 3 pares de chaves valores

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [95]:
dados['DS5'] = 1249.07

In [96]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 1249.07}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [112]:
dados

{'Passat': {'ano': 2012,
  'km': 50000,
  'valor': 75000,
  'acessorios': ['Airbag', 'ABS']},
 'Crossfox': {'ano': 2015, 'km': 35000, 'valor': 25000}}

In [98]:
del dados['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 1249.07}

Exercicio Alura

In [100]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [105]:
'acessorios' in dados['Crossfox'] #Testar se a chave acessorios existe no dicionário de informações do carro Crossfox

False

In [106]:
'acessorios' in dados['Passat'] #Testar se a chave acessorios existe no dicionário de informações do carro Passat

True

In [108]:
dados['Crossfox']['valor'] #Obter o valor do carro Crossfox

25000

In [110]:
dados['Passat']['acessorios'][-1] # Acessar o último acessório do carro Passat

'ABS'

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [113]:
dados = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [114]:
dados.update({'Sandeiro':43987.97}) #Para adicionar ou apenas ajustar algum valor
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Sandeiro': 43987.97}

In [116]:
dados.update({'Sandeiro':43987.97, 'Fusca':26076.56})
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Sandeiro': 43987.97,
 'Fusca': 26076.56}

## *dict.copy()*

Cria uma cópia do dicionário.

In [125]:
dadosCopy = dados.copy()

In [126]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Sandeiro': 43987.97,
 'Fusca': 26076.56}

In [127]:
del dadosCopy['Fusca']

In [122]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Sandeiro': 43987.97}

In [128]:
dados #dados ainda tem o elemento fusca no seu dicionário.

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Sandeiro': 43987.97,
 'Fusca': 26076.56}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [130]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'Sandeiro': 43987.97}

In [131]:
dadosCopy.pop('Sandeiro')

43987.97

In [132]:
dadosCopy

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [140]:
# dadosCopy.pop('Sandeiro') # se não encontrar ele retorna um erro.

In [135]:
dadosCopy.pop('Sandeiro', 'Chave não encontrada')

'Chave não encontrada'

In [137]:
dadosCopy.pop('Crossfox', 'Chave não encontrada')

72832.16

## *dict.clear()*

Remove todos os itens do dicionário.

In [138]:
dadosCopy.clear()

In [139]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [142]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'Sandeiro', 'Fusca'])

In [144]:
for key in dados.keys():
  print(dados[key])

88078.64
106161.94
72832.16
43987.97
26076.56

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [145]:
dados.values()

dict_values([88078.64, 106161.94, 72832.16, 43987.97, 26076.56])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [146]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16), ('Sandeiro', 43987.97), ('Fusca', 26076.56)])

In [147]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('Sandeiro', 43987.97)
('Fusca', 26076.56)

In [148]:
for key, value in dados.items():
  print(key,value)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
Sandeiro 43987.97
Fusca 26076.56

In [151]:
for key, value in dados.items():
  if(value > 100000):
    print(key)

Passat

Exercício Alura

In [152]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [154]:
#Selecione a alternativa que apresenta o código que imprime somente os nomes dos veículos com ano de fabricação maior ou igual a 2000.
for item in dados.items():
    print(item)

('Crossfox', {'valor': 72000, 'ano': 2005})
('DS5', {'valor': 125000, 'ano': 2015})
('Fusca', {'valor': 150000, 'ano': 1976})
('Jetta', {'valor': 88000, 'ano': 2010})
('Passat', {'valor': 106000, 'ano': 1998})

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

### Criando uma Series a partir de uma lista

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

### Criando um DataFrame a partir de uma arquivo externo

# 5.2 Seleções com DataFrames

### Selecionando colunas

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

# 5.3 Queries com DataFrames

### Utilizando o método query

# 5.4 Iterando com DataFrames

# 5.5 Tratamento de dados